body {padding:0pt 10pt 0 10pt; color:#222; background:#fff}

h1 {text-align:center; margin-bottom:2pt}
h1 a, h1 .checkbox {font-size:medium; color:gray}

h2 .download {font-size: small}

p, pre {line-height:1.25em; margin-top:0}

a {color:#888}

a:hover {color:blue}

#footer {color:#888; margin-top:2em; padding-top:2px; border-top:1px solid; font-size:small}

.navbar {font-size:medium; color:gray;text-align:center;margin-bottom:5pt}
.navbar a {}
